@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

html,
body {
  @apply bg-green dark:bg-gray-900;
  font-size: 50%;
}

@screen sm {
  html,
  body {
    font-size: 50%;
  }
}

@screen sm {
  html,
  body {
    font-size: 75%;
  }
}

@screen lg {
  html,
  body {
    font-size: 100%;
  }
}

@font-face {
  font-family: 'Play';
  src: url('/fonts/play/Play-Regular.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/ubuntu/Ubuntu-Regular.ttf');
}
