@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

html,
body {
  @apply bg-green-light dark:bg-gray-900;
  font-size: 50%;
}

@screen sm {
  html,
  body {
    font-size: 50%;
  }
}

@screen sm {
  html,
  body {
    font-size: 75%;
  }
}

@screen lg {
  html,
  body {
    font-size: 100%;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #42c2b3;
  border-radius: 10px;
}

@font-face {
  font-family: 'Play';
  src: url('/fonts/play/Play-Regular.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/ubuntu/Ubuntu-Regular.ttf');
}
