@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer base {
  .my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    width: auto;
  }
  .my-masonry-grid_column {
    background-clip: padding-box;
  }

  /* Style your items */
  .my-masonry-grid_column > div {
    /* change div to reference your elements you put in <Masonry> */
    background: grey;
  }
}

html,
body {
  @apply bg-green-light dark:bg-gray-900;
  font-size: 55%;
}

@screen sm {
  html,
  body {
    font-size: 65%;
  }
}

@screen lg {
  html,
  body {
    font-size: 80%;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #42c2b3;
  border-radius: 10px;
}

@font-face {
  font-family: 'Play';
  src: url('/fonts/play/Play-Regular.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/ubuntu/Ubuntu-Regular.ttf');
}
